<h1>Albums</h1>
<% @albums.each do |album| %>
  <p><%= album.title %></p>
<% end %>

<%= form_for(@album) do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>
<%= f.submit 'Submit' %>
<% end %>
